<!DOCTYPE html>

<html>
	<head>
		<meta charset="${_response_encoding}">
		<title>#{get 'title' /} - &{'site.name'}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Le styles -->
		<link rel="stylesheet" type="text/css" href="@{'/public/bootstrap/css/bootstrap.css'}"/>
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/main.css'}"/>
		<link rel="stylesheet" type="text/css" href="@{'/public/bootstrap/css/bootstrap-responsive.css'}"/>

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
		<link rel="shortcut icon" href="/public/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="/public/ico/apple-touch-icon-57-precomposed.png">

		<!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

		<!-- All JavaScript at the bottom, except this Modernizr build.
		     Modernizr enables HTML5 elements & feature detects for optimal performance.
		     Create your own custom Modernizr build: www.modernizr.com/download/ -->

	</head>
	<body>

		<!-- Start Navbar 
		================================================== -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="@{Dashboard.index()}">&{'site.name'} &{'site.version'}</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="#{if 'home'.equals(nav)}active#{/if}"><a href="@{Dashboard.index()}">&{'navbar.home'}</a></li>
						</ul>
						#{if loginuser}
							<ul class="nav pull-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle loginuser" data-toggle="dropdown">
										<img class="icon" src="${loginuser.iconUrl}" /> 
										<span class="username">${loginuser.username}</span>
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu">
										<li class="divider"></li>
										<li><a href="@{Authentication.logout()}">&{'navbar.logout'}</a></li>
									</ul>
								</li>
							</ul>
						#{/if}
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div> <!-- End Navbar -->

		<!-- Start Container 
		================================================== -->
		<div class="container">
			#{doLayout /}
		</div> <!-- End Container -->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/jquery.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/bootstrap/js/bootstrap.js'}"></script>
		<!-- end scripts -->

	</body>
</html>
